{
	"EVENTSHUB_ACCOUNT_NAME": "<eventhubs account name>",
	"EVENTSHUB_NAME": "<eventshub name>",
	"EVENTSHUB_CONNECTION_STRING":"Endpoint=sb://xxxxxxxxxxxx.servicebus.windows.net/;SharedAccessKeyName=xxxxxxxxxx;SharedAccessKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}


