<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="ApplicationTrigram" value="arc"/>
  <variable name="ApplicationName" value="Super Arc application"/>
  <variable name="ApplicationLayer" value="frontend"/>
  <variable name="BriefLayout" value="${ApplicationTrigram}|${level:uppercase=true}|${longdate}|${message}|${machinename}|${aspnet-user-identity}|${exception:format=ToString,StackTrace}" />
  <variable name="VerboseLayout" value="${ApplicationTrigram}|${level:uppercase=true}|${longdate}|${message}|${gdc:item=assembly-name}|${gdc:item=assembly-version}|${callsite}|${aspnet-request:serverVariable=Url}|${machinename}|${aspnet-user-identity}|${aspnet-sessionid}|${exception:format=ToString,StackTrace}" />
  <variable name="LogsFolder" value="${basedir}..\logs\app\" />
  <variable name="UserAuditFileName" value="UserAudit.log" />
  <variable name="TechniclaAuditFileName" value="Technical.log" />
  <variable name="LifeTestFileName" value="LifeTest.log" />

  <extensions>
    <add assembly="Nlog.Eventhub"/>
  </extensions>

  <variable name="DefaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />

  <targets async="true">
    <!--
    All targets regarding Files.
    -->
    <target name="UserAuditFile"
            xsi:type="File"
            fileName="${LogsFolder}${UserAuditFileName}"
            layout="${VerboseLayout}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="365"
            archiveDateFormat="yyyyMMdd"
            archiveFileName="${LogsFolder}${UserAuditFileName}{#}">
    </target>
    <target name="TechnicalAuditFile"
            xsi:type="File"
            fileName="${LogsFolder}${TechniclaAuditFileName}"
            layout="${VerboseLayout}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="365"
            archiveDateFormat="yyyyMMdd"
            archiveFileName="${LogsFolder}${TechniclaAuditFileName}{#}">
    </target>
    <target name="LifeTestFile"
            xsi:type="File"
            fileName="${LogsFolder}${LifeTestFileName}"
            layout="${BriefLayout}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="7"
            archiveDateFormat="yyyyMMdd"
            archiveFileName="${LogsFolder}${LifeTestFileName}{#}">
    </target>
    <!--
    All targets regarding the Event Hub loging and the console one.
    You can select what you want to log per output. This example is a complete IIS example file
    Don't forget to add properly the Event hub keys below
    -->
    <target name="emp" type="YourPartition" EventHubConnectionString="" EventHubName="" EventHubTransportType="AmqpWebSockets">
      <layout xsi:type="JsonLayout">
        <attribute name="trigram" layout="${ApplicationTrigram}"/>
        <attribute name="application" layout="${ApplicationName}"/>
        <attribute name="layer" layout="${ApplicationLayer}"/>
        <attribute name="level" layout="${level:uppercase=true}"/>
        <attribute name="date" layout="${date:universalTime=true:format=O}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="assembly_name" layout="${gdc:item=assembly-name}"/>
        <attribute name="assembly_version" layout="${gdc:item=assembly-version}"/>
        <attribute name="callsite" layout="${callsite}"/>
        <attribute name="url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}"/>
        <attribute name="iis_site_name" layout="${iis-site-name}"/>
        <attribute name="machinename" layout="${machinename}"/>
        <attribute name="aspnet_user_identity" layout="${aspnet-user-identity}"/>
        <attribute name="aspnet_sessionid" layout="${aspnet-sessionid}"/>
        <attribute name="exception" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>
    <target name="ColorConsole" xsi:type="ColoredConsole" >
      <layout xsi:type="JsonLayout">
        <attribute name="trigram" layout="${ApplicationTrigram}"/>
        <attribute name="application" layout="${ApplicationName}"/>
        <attribute name="layer" layout="${ApplicationLayer}"/>
        <attribute name="level" layout="${level:uppercase=true}"/>
        <attribute name="date" layout="${date:universalTime=true:format=O}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="assembly_name" layout="${gdc:item=assembly-name}"/>
        <attribute name="assembly_version" layout="${gdc:item=assembly-version}"/>
        <attribute name="callsite" layout="${callsite}"/>
        <attribute name="url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}"/>
        <attribute name="iis_site_name" layout="${iis-site-name}"/>
        <attribute name="machinename" layout="${machinename}"/>
        <attribute name="aspnet_user_identity" layout="${aspnet-user-identity}"/>
        <attribute name="aspnet_sessionid" layout="${aspnet-sessionid}"/>
        <attribute name="exception" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="UserAudit" minlevel="Trace" writeTo="#{UserAuditDestination}#" final="true" />
    <logger name="LifeTest" minlevel="Trace" writeTo="#{LifeTestDestination}#" final="true" />
    <logger name="*" minlevel="Trace" writeTo="#{TechnicalAuditDestination}#"  />
    <logger name="*" minlevel="Trace" writeTo="ColorConsole, Emp" />
  </rules>
</nlog>

